#menu
{
	position: fixed;
	width: 100%;
	height: fit-content;
	/* background-color:rgb(255, 204, 212); */
	background-image: url("backgrounds/violet-backgroud.jpg");
	background-size: cover;
	list-style-type: none;
	top: 0;
	left: 0;
	padding-top: 1%;
	padding-bottom: 1%;
	display: flex;
	flex-wrap: wrap;
	z-index: 999;
}

#menu a 
{
	padding-left: 2%;
	padding-right: 2%;
	color: white;
	text-decoration: none;
	font-size: 20px;
}

#menu a:hover
{
	color: lightgray;
	display: inline-block;
}

h1 
{
	font-family: 'Dancing Script', cursive;
	font-size: 80px;
	margin-bottom: 30px;
    position: relative;
    font-size: 30px;
    z-index: 1;
    overflow: hidden;
    text-align: center;
	padding-top: 1.5%;
}

h1:before, h1:after 
{
    position: absolute;
    top: 65%;
    overflow: hidden;
    width: 30%;
    height: 5%;
    content: '\a0';
    background-color: black;
}

h1:before 
{
    margin-left: -30%;
    text-align: right;
}

h2
{
	font-family: 'Dancing Script', cursive;
	font-size: 30px;
	margin-bottom: 30px;
}

#mommom-pic
{
	float: right;
	/* padding: top right bottom left; */
	padding: 0.5% 5% 0.5% 2%;
}

#wedding-pic, #webs
{
	float: left;
	padding: 0.1% 2% 0.2% 0.5%;
}

#about-her
{
	padding-left: 5%;
	font-size: 20px;
}

h3
{
	font-family: 'Dancing Script', cursive;
	font-size: 25px;
	padding-right: 1.5%;
}

#webs-table, #dif-webs, #dif-webs-usecases
{
	align-items: center;
    text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	table-layout: fixed;
}

#web1, #web2, #web3, th, td
{
	direction: rtl;
	padding-right: 1.5%;
	font-size: 20px;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#dif-webs, th, td, #dif-webs-usecases
{
	border:1px solid black;

}

#contact
{
	padding-top: 2.5%;
	
}

#contact-form
{
	background-image: url("backgrounds/contact-background.png");
	display: inline-block;
	width: 55%;
	border: 3px solid black;
	box-sizing: border-box;
	background-size: cover;
}

#contact-form label
{
	color: black;
    font-size: large;
}

#contact-form input, #contact-form textarea
{
	width: 300px;
	resize: none;
}

body
{
	background-image: url("backgrounds/body-background.png");
	align-items: center;
    /* text-align: center; */
	background-color: lightskyblue;
	background-size: cover;
	
}

section:not(#about, #spa)
{
	align-items: center;
    text-align: center;
}

#submit-button, #reset-button
{
	background-color: lightskyblue;
	color: black;
	padding: 3% 5%;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
	font-size: 15px;
}

#submit-button:hover, #reset-button:hover
{
	color: white;
	display: inline-block;
}

#like-button
{
	border: 0px;
	width: 30px;
	height: 30px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	background-color: pink;
}

#like-button:before, #like-button::after
{
	position: absolute;
	width: 30px;
	height: 30px;
	content: '';
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-o-border-radius: 100%;
	border-radius: 100%;
	background-color: pink;
}

#like-button:before
{
  bottom: 0px;
  left: -20px;
  
}

#like-button:after
{
  top: -20px;
  right: 0px;
}

#qr
{
	width: 300px;
	height: 300px;
}
